.card-container{
    margin: auto;
    width: 500px;
    padding: 20px;
}

.card{
    align-items: center;
    box-shadow: 0 0 10px blue;
    padding: 20px;
    margin: 20px;
}

.form-control{
    margin:15px;
}
.logbutton{
    margin: 15px;
    
}
