#pianodiv{
    text-align: center;
}

#piano{
    height: 500px;
    background-color: white !important;
    color: black !important;
    font-weight: bolder !important;
    padding: 10px;
    margin: 6px !important;
    box-shadow:0 0 10px black;
    width: 55px;
    }

#piano:hover {
    background-color: black !important;
    color: white !important;
}

#piano:active {
    transform: scale(0.95);
    transition: 0.3s;
    box-shadow: 0 0 25px red !important;
}